* {
    box-sizing: border-box;
    /* margin: 1%; */
    /* padding: 0%; */
}

body {
    justify-content: center;
    display: flex;
}
.screen {
    width: 80vw;
    height: 40vw;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: 1px solid rgb(23, 23, 23);
}

.pixel {
    border: 1px solid rgb(95, 164, 95);
    background-color: rgb(126, 189, 126);
    font-size: .5rem;
    color: black;
}