* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  justify-content: center;
  display: flex;
  /* background-color: rgb(181, 181, 181); */
    background-color: rgb(126, 189, 141);

}

.screen {
  width: 80vw;
  height: 40vw;
  display: grid;
  grid-template-columns: repeat(22, 1fr);
  grid-template-rows: repeat(12, 1fr);
  /* border: .5rem solid rgb(23, 23, 23); */
}

.scoreboard {
  width: 80vw;
  height: 8vw;
  display: grid;
  grid-template-columns: repeat(22, 1fr);
  grid-template-rows: repeat(1, 2fr);
}

.marquee-piece {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.pixel {
  /* border: .01rem solid rgb(95, 164, 95); */
  /* background-color: rgb(126, 189, 126); */
  /* font-size: .5rem; */
  /* color: black; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

/* .snake .scale {
  background-color: rgb(35, 35, 35);
  border: .01rem solid rgb(95, 164, 95);
} */
.m,
.zero .n0,
.one .n1,
.two .n2,
.three .n3,
.four .n4,
.five .n5,
.six .n6,
.seven .n7,
.eight .n8,
.nine .n9,
.nw-border .nwb,
.ne-border .neb,
.sw-border .swb,
.se-border .seb,
.left-border .lb,
.right-border .rb,
.upper-border .ub,
.bottom-border .bb,
.snake-right .right,
.snake-down .down,
.snake-left .left,
.snake-up .up,
.right-head .r-h, .right-tail .r-t,
.left-head .l-h, .left-tail .l-t,
.up-head .u-h, .up-tail .u-t,
.down-head .d-h, .down-tail .d-t,
.northeast .n-e,
.northwest .n-w,
.southeast .s-e,
.southwest .s-w,
.right-feed .r-f,
.left-feed .l-f,
.up-feed .u-f,
.down-feed .d-f,
.food .food-pixel,
.full .f,
.full-n-e .f-n-e,
.full-n-w .f-n-w,
.full-s-e .f-s-e,
.full-s-w .f-s-w,
.caterpillar1 .cp1,
.caterpillar2 .cp2,
.fish1 .fs1,
.fish2 .fs2,
.spider1 .sp1,
.spider2 .sp2 {
  background-color: rgb(35, 35, 35);
  border: .01rem solid rgb(126, 189, 141);
}

.erase-left .xl,
.erase-right .xr {
  background-color: rgb(126, 189, 141);
}

span {
  display: flex;
  max-width: 600px;
  flex-wrap: wrap;
}